@model ClassifiedsDetailVM

@await Component.InvokeAsync("Slide")


<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Tin mới</h2>
                    </div>
                    <div class="title-link">
                        <a href="blog-grid.html">
                            Xem tất cả
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model.RelatedBlogs)
            {
                var url = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@item.Image" alt="@item.Title" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            @item.Title
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">Giá | @item.Price.Value.ToString("N0")</span>
                                    </div>
                                    <a href="@url" class="link-a">
                                        Chi tiết
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    @item.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>


<section class="section-news section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Latest News</h2>
                    </div>
                    <div class="title-link">
                        <a href="blog-grid.html">
                            All News
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="new-carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="~/client-side/img/post-2.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">House</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="blog-single.html">
                                        House is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="~/client-side/img/post-5.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">Travel</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="blog-single.html">
                                        Travel is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="~/client-side/img/post-7.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">Park</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="blog-single.html">
                                        Park is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-c">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="~/client-side/img/post-3.jpg" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="#" class="category-b">Travel</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="#">
                                        Travel is comming
                                        <br> new
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">18 Sep. 2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>