@model ClassifiedsVM
<section class="intro-single">
    <div class="container">

    </div>
</section>
<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-option">
                    <form>
                        <select class="custom-select">
                            <option selected>All</option>
                            <option value="1">New to Old</option>
                            <option value="2">For Rent</option>
                            <option value="3">For Sale</option>
                        </select>
                    </form>
                </div>
            </div>
            @foreach(var item in Model.Data.Results)
            {
                var url = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@item.Image?w=350" alt="@item.Title" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="@url">
                                            @item.Title
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">Giá | @item.Price.Value.ToString("N0")</span>
                                    </div>
                                    <a href="@url" class="link-a">
                                        Chi tiết
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    @item.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @(await Component.InvokeAsync("Pager",Model.Data))
        
    </div>
</section>
